/* Modern ve premium duran Plus Jakarta Sans fontunu projeye çekiyoruz */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: none !important;
  }
}

/* Tüm sitedeki metinleri, butonları ve form alanlarını bu fonta zorluyoruz */
*, html, body, input, button, select, textarea {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #F7F7F5;
}